In [1]:
#Tuples
t = (1,2,3)

In [3]:
len(t)

3

In [5]:
t = ('one',2)

#show
t

('one', 2)

In [6]:
t[0]

'one'

In [7]:
t[-1]

2

In [8]:
t.index('one')

0

In [9]:
t.count('one')

1

In [10]:
t[0 = 'change']

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (3258257647.py, line 1)

In [11]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

In [12]:
x = set()

In [13]:
x.add(1)

In [14]:
x

{1}

In [15]:
x.add(2)

In [16]:
x

{1, 2}

In [17]:
l = [1,1,2,2,3,4,5,6,1,1]
set(l)

{1, 2, 3, 4, 5, 6}

In [18]:
 #dictionaries

my_dict = {'key':'value1','key2':'value2'}

In [19]:
my_dict['key2']

'value2'

In [20]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [21]:
my_dict['key3']

['item0', 'item1', 'item2']

In [22]:
my_dict['key3'][0]

'item0'

In [23]:
my_dict['key3'][0].upper()

'ITEM0'

In [24]:
my_dict['key1']

123

In [26]:
my_dict['key1'] = my_dict['key1'] - 123

In [27]:
my_dict['key1']

0

In [28]:
my_dict['key1']-=123

In [29]:
my_dict['key1']

-123

In [1]:
#creating new dictionary
d = {}

In [2]:
 d['animal'] = 'Dog'

In [3]:
d['answer']=42

In [4]:
d

{'animal': 'Dog', 'answer': 42}

In [5]:
#dictionary nested inside a dictionary nested in side a dictionary
d = {'key1':1,'key2':2,'key3':3}

In [6]:
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [7]:
d.values()

dict_values([1, 2, 3])

In [8]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [9]:
#dictionary comprehensions
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
{x:x**2 for x in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
def name_of_function(arg1,arg2):
    
    '''
    this is where the function's document string (doc-string) goes
    '''
    #do stuff here
    #retrun desired results

In [11]:
#ex:1
def say_hello():
    print('hello')

In [12]:
say_hello()

hello

In [17]:
def greeting(name):
    print('hello %s' %name)
    print('how are you doing %s'%name)

In [18]:
greeting('Josh')

hello Josh
how are you doing Josh

In [20]:
#using retrun
def add_num(num1,num2):
    return num1+num2

In [21]:
add_num(4,5)

9

In [22]:
result = add_num(4,5)

In [23]:
print(result)

9

In [24]:
print(add_num('one\t','two'))

one	two

In [37]:
#simple code for prime num
def is_prime(num):
    '''
    naive method of checcking for primes.
    '''
    for n in range(2,num):
        if num % n == 0:
            print('not prime')
            break
        else: print('prime')

In [41]:
is_prime(7)

prime
prime
prime
prime
prime

In [47]:
import math
def is_prime(num):
    if num % 2 == 0 and num > 2:
        return False
    for i in range(3, int(math.sqrt(num)) + 1, 2):
        if num % i == 0:
            return False
    return True

In [50]:
print(list(range(3,6,2)))

[3, 5]

In [48]:
is_prime(25)

False

In [53]:
#genrating fun
def gencubes(n):
    for num in range(n):
        yield num**3

In [54]:
for x in gencubes(10):
    print(x)

0
1
8
27
64
125
216
343
512
729

In [55]:
def genfibon(n):
    a = 1
    b = 1
    for i in range(n):
        yield a
        a,b = b,a+b

In [56]:
for num in genfibon(10):
    print(num)

1
1
2
3
5
8
13
21
34
55

In [58]:
def simple_gen():
    for x in range(3):
        yield x

In [59]:
#assign simple_gen
g = simple_gen()

In [60]:
print(next(g))

0

In [61]:
print(next(g))

1

In [62]:
print(next(g))

2

In [64]:
print(next(g))

StopIteration:

In [66]:
s = 'hello'
for i in s:
    print(i)

h
e
l
l
o

In [67]:
next(s)

TypeError: 'str' object is not an iterator

In [68]:
s_iter = iter(s)

In [69]:
next(s_iter)

'h'

In [70]:
next(s_iter)

'e'

In [71]:
next(s_iter)

'l'

In [78]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celsius(T):
    return (float(5)/9)*(T-32)
temp = [0, 22.5, 40,100]

In [79]:
F_temps = list(map(fahrenheit, temp))

F_temps

[32.0, 72.5, 104.0, 212.0]