In [1]:
# import the library
import math

In [4]:
#use it (celling rounding)
math.ceil(2.4)

3

In [5]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [6]:
help(math.ceil)

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [7]:
# just an ex, this won't work
import foo.bar

ModuleNotFoundError: No module named 'foo'

In [8]:
from foo import bar

ModuleNotFoundError: No module named 'foo'

In [9]:
print('hello')

hello

In [11]:
try:
    f = open('testfile','w')
    f.write('test write this')
except IOError:
    print("error:could not find file or read data")
else:
    print("content written successfully")
    f.close()

content written successfully

In [1]:
def askint():
    try:
        val = int(input("please enter an integer"))
    except:
        print("looks like you did not enter an integer!")
    
    finally:
        print("finally,i excuted!")
    print(val)

In [2]:
askint()

please enter an integer123
finally,i excuted!
123

In [4]:
#database
import sqlite3
db = sqlite3.connect("my_database1.db")
db.execute("drop table if exists grades1")
db.execute("create table grades1(id int,name text,score int)")
db.execute("insert into grades1(id, name, score)values(101, 'jhon',99)")
db.execute("insert into grades1(id, name, score)values(102, 'gary',90)")
db.execute("insert into grades1(id, name, score)values(103, 'james',80)")
db.execute("insert into grades1(id, name, score)values(104, 'cathy',85)")
db.execute("insert into grades1(id, name, score)values(105, 'kris',95)")

In [5]:
db.commit()

In [7]:
results = db.execute("select * from grades1 order by id")
for row in results:
    print(row)
print("_"* 60)

(101, 'jhon', 99)
(102, 'gary', 90)
(103, 'james', 80)
(104, 'cathy', 85)
(105, 'kris', 95)
____________________________________________________________

In [9]:
results = db.execute("select * from grades1 where name = 'gary'")
for row in results:
    print(row)
print("_" * 60)

(102, 'gary', 90)
____________________________________________________________